::selection {
    color: black;
    background: none;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

div.game {
    width: 400px;
    height: 600px;
    border: 1px black solid;
    position: relative;
    overflow: hidden;
    margin-top: 20px;
}

div.score {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    top: 8%;
    pointer-events: none;
    font-size: 40px;
    font-weight: 600;
    z-index: 10;
}

div.bird {
    position: absolute;
    background: yellow;
    height: 30px;
    width: 40px;
    border: 1px solid black;
    border-radius: 50%;
    top: 300px;
    left: 150px;
}

div.obstacle {
    width: 80px;
    height: 600px;
    background: greenyellow;
    border: 1px solid black;
    position: absolute;
}

div.background {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: skyblue;
}

div.cloud {
    position: absolute;
    border-radius: 50%;
    background-color: white;
}